@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    @apply mb-8 text-4xl font-bold text-darkGrayishBlue md:text-5xl;
  }
}

.section-container {
  @apply mx-auto max-w-6xl px-10 text-center;
}

.section-content {
  @apply max-w-3xl mx-auto leading-9 text-center text-grayishBlue;

}

.button-container {
  @apply flex w-full flex-col justify-center space-y-6 text-xl text-white md:flex-row md:space-y-0 md:space-x-4;
}

.feature {
  @apply mb-2 text-2xl font-bold text-darkGrayishBlue md:text-3xl;
}

.feature-txt {
  @apply max-w-md text-grayishBlue;
}

.item {
  @apply flex flex-col items-center space-y-5;
}

.menu {
  @apply flex flex-col text-center space-y-4 md:text-left;
}

.social {
  @apply flex justify-between w-32 py-1;
}

body {
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 576px) {
  body {
    background-image: url("../images/bg-header-mobile.png");
  }
}

.ficon:hover {
  filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg) brightness(101%) contrast(95%);
}